<div class="ad-button">
    <span class="close-ad-box icon-remove" ng-click="adClicked = true"></span>
    <span class="change-ad-content">换一换</span>
</div>
<div class="ad-photo">
    <span>
        <img src="images/ad_photo.jpg">
        <span>餐厅名称</span>
    </span>
    <span>
        <img src="images/ad_photo.jpg">
        <span>餐厅名称</span>
    </span>
    <span>
        <img src="images/ad_photo.jpg">
        <span>餐厅名称</span>
    </span>
    <span>
        <img src="images/ad_photo.jpg">
        <span>餐厅名称</span>
    </span>
    <span>
        <img src="images/ad_photo.jpg">
        <span>餐厅名称</span>
    </span>
    <span>
        <img src="images/ad_photo.jpg">
        <span>餐厅名称</span>
    </span>
</div>